<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbstar.daylog.index.model.mapper.IndexMapper">
    <select id="getFirstIndexPlaces" resultType="IndexPlaceRes">
        SELECT place_idx, place_name, category, loc1, loc2, place_thumbnail_path
        FROM place
        WHERE loc2 like '%연남%'
        ORDER BY place_created_date desc LIMIT 5

    </select>

    <select id="getSecondIndexPlaces" resultType="IndexPlaceRes">
        SELECT place_idx, place_name, category, loc1, loc2, place_thumbnail_path
        FROM place
        WHERE category='음식점' AND loc2 like '%용산%'
    </select>

    <select id="getIndexPosts" resultType="IndexPostRes">
        SELECT post_idx, post_thumbnail_path, title
        from post
        LIMIT 5
    </select>

</mapper>