<!DOCTYPE html>
<html class="no-js" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Daylog</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- Google font CSS -->
    <link rel="stylesheet" href="assets/css/vendor/signpainter-housescript.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="assets/css/vendor/linearicons.css">
    <link rel="stylesheet" href="assets/css/vendor/themify-icons.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel-index.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/css/plugins/animate.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery.mb.ytplayer.min.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/jarallax.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

<div class="main-wrapper">
    <!-- blog area start -->
    <div class="blog-area pt-20 pb-120">
        <!-- owl Carusel 적용-->
        <div class="container">
            <!-- 인사말 영역 -->
            <div class="pt-20">
                <h3><span id="nickname"></span>님, 이번 주말</h3>
                <p></p>
                <h3>이런곳은 어때요?</h3>
            </div>

            <div class="my-slider-1">
                <div class="owl-carousel owl-theme">
                    <div class="item" th:each="indexPost:${indexPost}">
                        <a th:href="@{post?idx=}+${indexPost.postIdx}">
                            <img style="border-radius:10px" th:src="@{assets/images/post/}+${indexPost.postThumbnailPath}" alt="${indexPost.title}">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="mt-20 mb-30">
                <h4>나만 알고 싶은 연남동 핫플레이스 😎</h4>
            </div>

            <div>
                <div class="blog-wrap-4" th:each="firstPlaceList:${firstPlaceList}">
                    <div style="border-radius:10px" class="blog-img-4">
                        <a th:href="@{place?idx=}+${firstPlaceList.placeIdx}">
                            <img th:src="@{assets/images/place/}+${firstPlaceList.placeThumbnailPath}" alt="">
                        </a>
                        <span th:text="${firstPlaceList.category}"></span>
                    </div>
                    <div class="blog-content-4">
                        <div>
                        <h4><span th:text="${firstPlaceList.placeName}"/>
                        </h4>
                        </div>
                        <div class="blog-meta-4">
                            <ul>
                                <li><div th:text="${firstPlaceList.loc1}"/></li>
                                <li>|</li>
                                <li><div th:text="${firstPlaceList.loc2}"/></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="mt-50 mb-30">
                    <h4>서울에서 맛보는 세계음식 🍲</h4>
                </div>

                <div class="blog-wrap-4" th:each="secondPlaceList:${secondPlaceList}">
                    <div style="border-radius:10px" class="blog-img-4">
                        <a th:href="@{place?idx=}+${secondPlaceList.placeIdx}">
                            <img th:src="@{assets/images/place/}+${secondPlaceList.placeThumbnailPath}" alt="">
                        </a>
                        <span th:text="${secondPlaceList.category}"></span>
                    </div>
                    <div class="blog-content-4">
                        <h4><div th:text="${secondPlaceList.placeName}"/></h4>
                        <div class="blog-meta-4">
                            <ul>
                                <li><div th:text="${secondPlaceList.loc1}"/></li>
                                <li>|</li>
                                <li><div th:text="${secondPlaceList.loc2}"/></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
    </footer>
</div>

<!-- All JS is here
============================================ -->

<!-- Modernizer JS -->
<script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
<!-- jquery -->
<script src="assets/js/vendor/jquery-v3.6.0.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/vendor/popper.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/plugins/owl-carousel.js"></script>
<script src="assets/js/plugins/owl-carousel-index.js"></script>
<script src="assets/js/plugins/slick.js"></script>
<script src="assets/js/plugins/jquery.mb.ytplayer.min.js"></script>
<script src="assets/js/plugins/magnific-popup.js"></script>
<script src="assets/js/plugins/wow.js"></script>
<script src="assets/js/plugins/instafeed.js"></script>
<script src="assets/js/plugins/countdown.js"></script>
<script src="assets/js/plugins/jarallax.min.js"></script>
<script src="assets/js/plugins/images-loaded.js"></script>
<script src="assets/js/plugins/isotope.js"></script>
<script src="assets/js/plugins/tilt.js"></script>
<script src="assets/js/plugins/jquery-ui-touch-punch.js"></script>
<script src="assets/js/plugins/jquery-ui.js"></script>
<script src="assets/js/plugins/easyzoom.js"></script>
<script src="assets/js/plugins/resizesensor.js"></script>
<script src="assets/js/plugins/sticky-sidebar.js"></script>
<script src="assets/js/plugins/scrollup.js"></script>
<script src="assets/js/plugins/ajax-mail.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>
<script>
    /*<![CDATA[*/
        $(document).ready(function(){
             var member = window.android.getNickname()
             console.log(member)
             //var dataParam = JSON.parse(member)
             $("#nickname").html(member)
        })
    /*]]>*/
</script>
</body>

</html>