<!DOCTYPE html>
<html class="no-js" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Daylog</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- Google font CSS -->
    <link rel="stylesheet" href="assets/css/vendor/signpainter-housescript.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="assets/css/vendor/linearicons.css">
    <link rel="stylesheet" href="assets/css/vendor/themify-icons.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel-index.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/css/plugins/animate.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery.mb.ytplayer.min.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/jarallax.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

</head>

<body>

<div class="main-wrapper">
    <!-- blog area start -->
    <div class="blog-area pb-120">
        <div class="container-fluid">
            <div class="blog-details-wrap ml-20">
                <div class="blog-details-content">
                    <div class="blog-details-img">
                        <img th:src="@{assets/images/place/}+${selectedPlace.placeThumbnailPath}" alt="">
                    </div>
                </div>
                <div class="container">
                    <div class="mt-20 mb-50">
                        <h5><span th:text="${selectedPlace.loc1}"/> (<span th:text="${selectedPlace.loc2}"/>)</h5>
                        <h4>
                            <span th:text="${selectedPlace.placeName}"/> | <span th:text="${selectedPlace.category}"/>
                            <span th:if="${selectedPlace.saveFlag} == '0'">
                                <span th:id="bookmark-icon" style="position:absolute; right: 20px; vertical-align: middle;" class="material-icons save">bookmark_border</span>
                            </span>
                        </h4>
                        <script>
                        /*<![CDATA[*/
                            $(document).ready(function(){
                                     var member = window.android.getMember()
                                     var dataParam = JSON.parse(member)
                                     dataParam.placeIdx = [[${selectedPlace.placeIdx}]]

                                     $.ajax({
                                            url  : "/place/check",
                                            type : "post",
                                            contentType: "application/json",
                                            dataType : "json",
                                            data : JSON.stringify(dataParam),
                                            success : function(data) {
                                                console.log(data)
                                                if(data == "0")
                                                    $("#bookmark-icon").html("bookmark_border")
                                                else if(data == "1")
                                                    $("#bookmark-icon").html("bookmark")

                                                    console.log($("#bookmark-icon").html())
                                            }
                                     })


                                    //save 버튼 눌렀을 때 ajax 처리
                                    $("#bookmark-icon").click(function() {
                                          if($("#bookmark-icon").html() == "bookmark_border"){
                                            console.log("html:     " + $("#bookmark-icon").html())
                                            dataParam.flag = 0
                                          }

                                          if($("#bookmark-icon").html() == "bookmark"){
                                            dataParam.flag = 1
                                          }

                                          console.log(JSON.stringify(dataParam))

                                          $.ajax({
                                                url  : "/place/save",
                                                type : "post",
                                                contentType: "application/json",
                                                dataType : "json",
                                                data : JSON.stringify(dataParam),
                                                success : function(data) {
                                                    console.log(data)
                                                    if(data == "1" && $("#bookmark-icon").html() == "bookmark_border")
                                                        $("#bookmark-icon").html("bookmark")
                                                    else if(data == "1" && $("#bookmark-icon").html() == "bookmark")
                                                        $("#bookmark-icon").html("bookmark_border")

                                                        console.log($("#bookmark-icon").html())
                                                }
                                          })
                                    })
                                })

                        /*]]>*/
                        </script>
                    <div>
                </div>
            </div>

            <div class="description-review-wrapper">
                <div class="description-review-topbar nav" style="text-align:center;">
                    <a class="active" data-bs-toggle="tab" href="#des-details1">위치</a>
                    <a id="posting-tab" data-bs-toggle="tab" href="#des-details2">포스팅</a>
                </div>
                <div class="tab-content description-review-bottom">
                    <div id="des-details1" class="tab-pane active">
                        <div class="product-description-wrapper">
                            <!-- 주소 텍스트 영역 -->
                            <div class = "mb-20"><span class="material-icons" style="vertical-align: middle;">place</span><span style="font-size:16px;" th:text="${selectedPlace.address}"/>
<!--                                <a id="navi" href="kakaomap://route?sp=37.537229,127.005515&ep=37.4979502,127.0276368&by=CAR">-->
<!--                                <img-->
<!--                                    src="https://developers.kakao.com/assets/img/about/buttons/navi/kakaonavi_btn_small.png"-->
<!--                                    alt="길 안내하기 버튼"/>-->
<!--                                </a>-->
                            </div>

                                <!-- 카카오 맵 영역 -->
                                <div id="map" style="width:100%; height:350px; text-align:center"></div>
                                <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cbd4709178fa8b0e093ecf85f175da59"></script>
                                <script th:inline="javascript">
                                /*<![CDATA[*/

                                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                                        mapOption = {
                                            center: new kakao.maps.LatLng([[${selectedPlace.lat}]], [[${selectedPlace.log}]]), // 지도의 중심좌표
                                            level: 3 // 지도의 확대 레벨
                                        };

                                    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                                    // 마커가 표시될 위치입니다
                                    var markerPosition  = new kakao.maps.LatLng([[${selectedPlace.lat}]], [[${selectedPlace.log}]]);

                                    // 마커를 생성합니다
                                    var marker = new kakao.maps.Marker({
                                        position: markerPosition
                                    });

                                    // 마커가 지도 위에 표시되도록 설정합니다
                                    marker.setMap(map);

                                /*]]>*/
                                </script>
                        </div>
                    </div>
                    <div id="des-details2" class="tab-pane">
                        <div class="additional-info">
                            <script>
                            /*<![CDATA[*/
                                $(document).ready(function(){
                                    $("#posting-tab").click(function() {
                                      $.ajax({
                                        url  : "/place/posting",
                                        type : "post",
                                        contentType: "application/json",
                                        dataType : "json",
                                        data : JSON.stringify({
                                            "placeIdx" : [[${selectedPlace.placeIdx}]]
                                        }),
                                        success : function(data) {
                                            $("#postTitle").empty()
                                            var txt = ""
                                            $.each(data , function(idx , obj) {
                                                txt += "<a href='/post?idx="+obj.postIdx+"'><li style='margin-top:10px; font-size:18px; padding-left: 20px; font-weight:bold; color:#555555;'>"+obj.title+"<span style='position:absolute; right: 0px; vertical-align: middle;' class='material-icons'>chevron_right</span></li></a><hr/>"
                                            })
                                            $("#postTitle").append(txt)
                                        }
                                      })
                                    })
                                })
                            /*]]>*/
                            </script>
                            <ul id="postTitle">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <footer>
    </footer>
</div>

<!-- All JS is here
============================================ -->

<!-- Modernizer JS -->
<script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
<!-- jquery -->
<script src="assets/js/vendor/jquery-v3.6.0.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/vendor/popper.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/plugins/owl-carousel.js"></script>
<script src="assets/js/plugins/slick.js"></script>
<script src="assets/js/plugins/jquery.mb.ytplayer.min.js"></script>
<script src="assets/js/plugins/magnific-popup.js"></script>
<script src="assets/js/plugins/wow.js"></script>
<script src="assets/js/plugins/instafeed.js"></script>
<script src="assets/js/plugins/countdown.js"></script>
<script src="assets/js/plugins/jarallax.min.js"></script>
<script src="assets/js/plugins/images-loaded.js"></script>
<script src="assets/js/plugins/isotope.js"></script>
<script src="assets/js/plugins/tilt.js"></script>
<script src="assets/js/plugins/jquery-ui-touch-punch.js"></script>
<script src="assets/js/plugins/jquery-ui.js"></script>
<script src="assets/js/plugins/easyzoom.js"></script>
<script src="assets/js/plugins/resizesensor.js"></script>
<script src="assets/js/plugins/sticky-sidebar.js"></script>
<script src="assets/js/plugins/scrollup.js"></script>
<script src="assets/js/plugins/ajax-mail.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>

</body>

</html>