<!DOCTYPE html>
<html class="no-js" lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Daylog</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- Google font CSS -->
    <link rel="stylesheet" href="assets/css/vendor/signpainter-housescript.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="assets/css/vendor/linearicons.css">
    <link rel="stylesheet" href="assets/css/vendor/themify-icons.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel-post.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/css/plugins/animate.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery.mb.ytplayer.min.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/jarallax.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

<div class="main-wrapper">
    <div class="blog-details-img">
        <!--owl carousel -->
        <div class="container-fluid">
            <div class="owl-carousel owl-theme">
                <div th:each="postImageList:${postImageList}" class="item">
                    <img th:src="@{assets/images/post/}+${postImageList.imagePath}" >
                </div>
            </div>
        </div>
    </div>
    <!-- blog area start -->
    <div class="blog-area pt-20 pb-120">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="blog-details-wrap ml-20">
                    <div class="blog-details-content">
                        <h3><div th:text="${selectedPost.title}"></div></h3>
                        <div class="blog-meta-5">
                            <ul>
                                <li><h5 th:text="${selectedPost.nickname}"/></li>
                            </ul>
                        </div>
                        <p><span th:text="${selectedPost.content}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
    </footer>
</div>

<!-- All JS is here
============================================ -->

<!-- Modernizer JS -->
<script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
<!-- jquery -->
<script src="assets/js/vendor/jquery-v3.6.0.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/vendor/popper.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/plugins/owl-carousel.js"></script>
<script src="assets/js/plugins/owl-carousel-post.js"></script>
<script src="assets/js/plugins/slick.js"></script>
<script src="assets/js/plugins/jquery.mb.ytplayer.min.js"></script>
<script src="assets/js/plugins/magnific-popup.js"></script>
<script src="assets/js/plugins/wow.js"></script>
<script src="assets/js/plugins/instafeed.js"></script>
<script src="assets/js/plugins/countdown.js"></script>
<script src="assets/js/plugins/jarallax.min.js"></script>
<script src="assets/js/plugins/images-loaded.js"></script>
<script src="assets/js/plugins/isotope.js"></script>
<script src="assets/js/plugins/tilt.js"></script>
<script src="assets/js/plugins/jquery-ui-touch-punch.js"></script>
<script src="assets/js/plugins/jquery-ui.js"></script>
<script src="assets/js/plugins/easyzoom.js"></script>
<script src="assets/js/plugins/resizesensor.js"></script>
<script src="assets/js/plugins/sticky-sidebar.js"></script>
<script src="assets/js/plugins/scrollup.js"></script>
<script src="assets/js/plugins/ajax-mail.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>

</body>

</html>